/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* Default compass reset */
@import "compass/reset";

/* Default scss with zurb foundation */
@import "app";

// Special rules for Labwiki

html, body {
  height: 100%;
}

.main {
  position: absolute;
  // background-color: $clouds;
  top: 45px;
  bottom: 33px;
  @include box-sizing('border-box');
}

.footer {
  position: absolute;
  text-align: center;
  height: 33px;
  line-height: 33px;
  bottom: 0px;
}

.geni-button {
  @include button-base;
  @include button-size($button-med);
  @include button-style($orange);
}

.signin {
  padding-top: em-calc(90);
  text-align: center;

  .associations {
    margin-top: em-calc(90);
    vertical-align: middle;
  }
}
